@{
    ViewData["Title"] = "Home Page";
}

@{
    var isAuthenticated = User.Identity.IsAuthenticated;
}

@if (isAuthenticated)
{
    <p>Welcome, @User.Identity.Name</p>
}
else
{
    <p>Please <a href="/Customers/Login">log in</a></p>
}


<div class="text-center">
    <h1 class="display-4">Welcome to the SHOP</h1>

    <!-- Buttons for Log In and Register -->
    <div>
        <a href="/customers/create" class="btn btn-primary btn-lg mx-2">Zarejestruj się</a>
        <a href="/customers/login" class="btn btn-secondary btn-lg mx-2">Zaloguj się</a>
    </div>
</div>